*{
    margin: 0;
    padding: 0;
}
.main{
    width: 80%;
    margin: 0 auto;
}
a{
    color: inherit;
    cursor: pointer;
}
.close{
    display: flex;
    cursor: pointer;
}
.alert{
    position: sticky;
    top: 0;
    display: flex;
    z-index: 10;
    padding: 6px;
    margin-left: 20%;
    width: 80%;
    text-align: center;
    background-color: hsl(192deg 79% 49% / 23%);
    color: rgb(26 183 222);
    margin: 0 auto;
    border-radius: 10px;
}

.video-card{
    width: 100%;
    height: 700px;
    padding: 4px;
    /* display: flex; */
    /* flex-direction: row; */
    justify-content: center;
    justify-items: center;
    border-radius: 4px;
}
.video-card video{
    width: 100%;
    height: 400px;
}
.video-box{
    display: flex;
    align-items: center;
    justify-items: center;
    overflow: hidden;
}
.video-title,.video-description{
    text-align: center;
}
.video-title{
    font-weight: bold;
}
.video-description{
    color: #838383;
}